.rounded-20 {
    border-radius: 20px;
}
.border-black-primary {
    border-color: $color-black-primary !important;
}
.border-black-secondary {
    border-color: $color-black-secondary !important;
}
.border-purple {
    border-color: $color-purple !important;
}