.text-purple {
    color: $color-purple !important;
}
.text-black-primary {
    color: $color-black-primary !important;
}
.text-black-secondary {
    color: $color-black-secondary !important;
}
.text-black-tertiary {
    color: $color-black-tertiary !important;
}
.text-gray {
    color: $color-gray !important;
}





.bg-purple {
    background-color: $color-purple !important;
}
.bg-black-primary {
    background-color: $color-black-primary !important;
}
.bg-black-secondary {
    background-color: $color-black-secondary !important;
}
.bg-black-tertiary {
    background-color: $color-black-tertiary !important;
}
.bg-gray {
    background-color: $color-gray !important;
}