// ===========> Color Variables
$color-purple: #A259FF;
$color-black-primary: #2B2B2B;
$color-black-secondary: #3B3B3B;
$color-black-tertiary: #858584;
$color-gray: #CCCCCC;


// ===========> Font-family Variables
$font-worksans: 'Work Sans', sans-serif;
$font-spacemono: 'Space Mono', monospace;