.user {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &__categories {
        font-size: 22px;
        line-height: 140%; /* 30.8px  */
    }
    
    &__img {
        width: 24px;
        height: 24px; 
    }

    &__name {
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    &--autcion {
        border-radius: 20px;
        background: #3B3B3B;
        padding: 10px 20px;
    }
}