.nfts__page {

    &--cover {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &-desktop {
            height: 560px;
        }
        &-mobile {
            height: 320px;
        }
    }
}