.btn_custom {
    border-radius: 20px;
    height: 60px;

    justify-content: center;
    align-items: center;
    gap: 12px;

    font-size: 16px;
    font-weight: 600;

    text-decoration: none;
 
    &--purple {
        background: #A259FF;
        color: #fff; 
    } 

    &--black {
        background-color: #2b2b2b;
        border: 2px solid #A259FF;
    }
}
.navbar-btn {
    padding: 0 30px;
}
.hero-btn {
    margin: 40px 0;
    padding: 0 50px;

    @media screen and (min-width: 992px) {
        margin: 30px 0;
        padding: 0 50px;
    }
}
.heading-btn {
    padding: 0 50px;
}

// ===============> Reset bootstrap button style <=================
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler {
    border: none;
}