.hero-title {
    font-size: 28px;
    font-style: normal;
    line-height: 110%; /* 73.7px */
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        font-size: 42px;
    }

    @media screen and (min-width: 992px) {
        width: 60%;
        font-size: 42px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        width: 80%;
        font-size: 67px;
    }

    @media screen and (min-width: 1400px) {
        width: 70%;
    }
}
.hero-desc {
    font-size: 16px;
    font-style: normal;
    line-height: 160%; /* 35.2px */
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    @media screen and (min-width: 992px) {
        font-size: 22px;
        margin-bottom: 0;
    }
}