.hero-title {
    font-size: 67px;
    font-style: normal;
    line-height: 110%; /* 73.7px */
    width: 70%;
    margin-bottom: 20px;
}
.hero-desc {
    font-size: 22px;
    font-style: normal;
    line-height: 160%; /* 35.2px */
}