.nfts-card {
    border-radius: 20px;
    
    &__text-content {
        padding: 20px 30px 25px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        &-title {
            font-size: 22px;
            line-height: 140%; /* 30.8px */
            margin-bottom: 5px;
        }
    }
}