.counter {

    &__number {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 39.2px */
        text-transform: capitalize;

        @media screen and (min-width: 576px) {
            font-size: 28px;
        }
    }

    &__desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 38.384px */
        text-transform: capitalize;

        @media screen and (min-width: 576px) {
            font-size: 23.99px;
        }
    }
}