.auction-container {
    height: 593px;
    background-image: 
        linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%), 
        url(../../media/images/auction/auction_product_sm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--title {
        font-size: 38px;
        line-height: 120%;
    }

    @media screen and (min-width: 576px) {
        height: 640px;
        background-image: 
        linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%), 
        url(../../media/images/auction/auction_product.jpg);

        &--title {
            font-size: 51px;
            line-height: 110%;
        }
    }
}