.top-creators__profile {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--img {
        border-radius: 20px;
        width: 120px;
        height: 120px;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--text-content {
        padding: 90px 0 30px;
    }

    &--title {
        font-size: 28px;
        font-style: normal;
        line-height: 140%;
    }

    &--btns-wrapper {
        margin: 30px 0;
    }

    @media screen and (min-width: 768px) {
        &--btns-wrapper {
            margin: initial;
        }
    }

    @media screen and (min-width: 992px) {
        height: 320px;

        &--img {
            width: 120px;
            height: 120px;
            left: 0;
            transform: initial;
        }

        &--text-content {
            padding: 100px 0 40px;
        }

        &--title {
            font-size: 51px;
            line-height: 110%;
        }
    }
}