.top-creators__profile {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--img {
        border-radius: 20px;
        width: 120px;
        height: 120px;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--text-content {
        padding: 90px 0 30px;
    }

    &--title {
        font-size: 28px;
        font-style: normal;
        line-height: 140%;
    }

    &--btns-wrapper {
        margin: 30px 0;
    }

    &--stats {
        column-gap: 40px;
    }

    &--info-title {
        font-size: 16px;
        font-style: normal;
        line-height: 140%;
        margin-top: 30px;
    }
    &--info-desc {
        font-size: 16px;
        font-style: normal;
        line-height: 140%;
    }

    @media screen and (min-width: 768px) {
        &--btns-wrapper {
            margin: initial;
        }
        &--stats {
            margin: 30px 0 0;
        }
        &--info-title {
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
        }
        &--info-desc {
            font-size: 22px;
            line-height: 160%;
        }
    }
    @media screen and (min-width: 992px) {
        height: 320px;

        &--img {
            width: 120px;
            height: 120px;
            left: 0;
            transform: initial;
        }

        &--text-content {
            padding: 100px 0 40px;
        }

        &--title {
            font-size: 51px;
            line-height: 110%;
        }
    }
    @media screen and (min-width: 1200px) {
        &--stats {
            column-gap: 80px;
        }
    }
}
.tabs {
    &--title {
        font-size: 14px;
        font-style: normal;
        line-height: 140%;
        padding: 29px 0 19px;
        color: #858584;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }
    &--title-active {
        color: white;
        border-color: #858584;
    }
    @media screen and (min-width: 385px){
        &--title {
            font-size: 16px;
            padding: 24px 0 14px;
        }
    }

    @media screen and (min-width: 768px){
        &--title {
            font-size: 22px;
            padding: 24px 0 14px;
        }
    }
}
.badge {
    padding: 5px 10px;
    color: #FFF;
    font-size: 16px;
    line-height: 140%;
    border-radius: 20px;
    background-color: #3B3B3B;

    &-active {
        background: #858584;
    }
}
