.top-creators__profile {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--img {
        border-radius: 20px;
        width: 120px;
        height: 120px;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media screen and (min-width: 992px) {
        height: 320px;

        &--img {
            width: 120px;
            height: 120px;
            left: 0;
            transform: initial;
        }
    }
}